- var title = "About"

doctype html
include ../public/htmlHead.jade
body
	include ../public/header.jade
	include ../public/nav.jade
	main
		h1 About Page
		include ../public/lorem02.jade
	include ../public/footer.jade
