- var title = "Community"

doctype html
include ../public/htmlHead.jade
body
	include ../public/header.jade
	include ../public/nav.jade
	main
		h1 Community
		include ../public/lorem01.jade
		include ../public/lorem02.jade
	include ../public/footer.jade
