- var title = "Events"

doctype html
include ../public/htmlHead.jade
body
	include ../public/header.jade
	include ../public/nav.jade
	main
		h1 Events
		include ../public/list.jade
		include ../public/lorem02.jade
	include ../public/footer.jade
