- var title = "Home"

doctype html
include ../public/htmlHead.jade
body
	include ../public/header.jade
	include ../public/nav.jade
	main
		h1 Home Page
		include ../public/lorem01.jade
	include ../public/footer.jade
