doctype html
include ../public/htmlHead.jade
body
	include ../public/header.jade
	include ../public/nav.jade
	
	// Conditional checks for admin, renders page accordingly 
	#admin
		if admin == true 
			main 
				form#tinyMCE(method='post')
					textarea#content !{pageData}
				input#contentSaveBtn(type='button', value='Save Content')
		else 
			main !{pageData}
	include ../public/footer.jade
	div#messageBox Saving content...
	script(src="js/Ajax.js", type='text/javascript')
	script(src="js/main.js", type='text/javascript')
	script(src="//tinymce.cachefly.net/4.2/tinymce.min.js")
	script(src="js/tinymceInit.js", type='text/javascript')
