- var title = "Sermons"

doctype html
include ../public/htmlHead.jade
body
	include ../public/header.jade
	include ../public/nav.jade
	main
		table#sermonTable
			thead
				tr
					th Name
					th Date
			tbody
				tr
					td &nbsp;
					td &nbsp;
				tr
					td &nbsp;
					td &nbsp;
				tr
					td &nbsp;
					td &nbsp;
				tr
					td &nbsp;
					td &nbsp;
				tr
					td &nbsp;
					td &nbsp;
	include ../public/footer.jade
