doctype html
include ../public/htmlHead.jade
body
	include ../public/header.jade
	include ../public/nav.jade
	#admin
		if admin == true
			main
				form#uploadFile(action="/sermons" method="post")
					label(for="fileName") Sermon Title: 
					input(name="fileName" type="text" size="25" id="fileName")
					br
					input(type="file" id="file")
					br
					input(value="Save Sermon" type="submit" id="submitBtn")
					span#errorDisplay
					br

				table#sermonTable
					thead
						tr
							th Name
							th Date
							th Delete
					tbody
				div#messageBox
		else 
			main
				table#sermonTable
					thead
						tr
							th Name
							th Date
					tbody
				div#messageBox
	script.
		var ADMIN = #{admin}
		var fileData = !{JSON.stringify(filedb)}
	script(src="js/Ajax.js", type='text/javascript')
	script(src="js/main.js", type='text/javascript')
	script(src="js/sermons.js", type='text/javascript')
	include ../public/footer.jade
