doctype html
include ../public/htmlHead.jade
body
	include ../public/header.jade
	include ../public/nav.jade
	#admin
		if admin == true
			main
				form#uploadFile(action="/sermons" method="post")
					label(for="fileName") Sermon Title: 
						input(name="fileName" type="text" size="25" id="fileName")
						br
						input(type="file" id="file")
						br
						input(type="submit" id="submitBtn")
						br
						div#response

				table#sermonTable
					thead
						tr
							th Name
							th Date
							th Delete
					tbody
						each val in filedb
							tr
								td 
									a(href= val.path)= val.name
								td= val.date
								td.delete delete
		else 
			main
				table#sermonTable
					thead
						tr
							th Name
							th Date
					tbody
						each val in filedb
							tr
								td 
									a(href= val.path)= val.name
								td= val.date
	div#messageBox
	script(src="js/Ajax.js", type='text/javascript')
	script(src="js/main.js", type='text/javascript')
	include ../public/footer.jade
