header
	h1 CMS Application
	#admin
		if admin == true
			p First Service: 
				input(type="text", size="10", value=services[0])
			p Second Service: 
				input(type="text", size="10", value=services[1])
			input#timeSaveBtn(type='button', value='Save Times')

			a#logoutBtn(href="logout") Logout
		else	
			p First Service: !{services[0]}
			p Second Service: !{services[1]}
