html(lang="en-US")
	head
		title= page
		meta(name="author", content="Brian Koscielniak")
		meta(name="page", content=page, id="page_name")
		link(rel='stylesheet', type='text/css', href='../css/main.css')
