nav#mainNav
	ul
		li: a(href="home") Home
		li: a(href="sermons") Sermons
		li: a(href="ministry") Ministry
		li: a(href="community") Community
		li: a(href="events") Events
		li: a(href="about") About
